<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a href="/">Reinout Bossuyt</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/werk">Werk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/over">Over</a>
        </li>
      </ul>
      </div>
    </div>
  </nav>
</header>
